p{
    color: #f65809;
    font-size: 22px;
}
body{
    background-image: url('../images/bg.jpg');
}
#characterPanel{
    background-color: blanchedalmond;

    position: absolute sticky;
    position: -webkit-sticky; /* Safari */
    
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;

    align-items: center;
    text-align: center;
}
#searchResults{
    position: absolute;
    left: 100px;
}
#partyPanel{
    background-color: navajowhite;

    position: absolute;

    top: 60%;
    margin-left: 15%;
    margin-top: 50px;
    
    display: flex;
    align-items: center;
}
.card{
    background-image: url('../images/card-blank.png');
    float: left;
    position: relative;
    
    width: 175px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 80px;
    margin-left: 80px;

    align-items: center;
    text-align: center;
}
.card button{
    font-size: 24px;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 75%;
}
.playerCard > img{
    position: relative absolute;
    
    width: 168px;

    margin-top: 10px;
}
.playerCard > h2{
    position: absolute;
    top: 170px;

    font-size: 20px;
    font-weight: 900;
    font-variant-caps: petite-caps;
    color: crimson;
}
.playerCard > h3{
    position: absolute;
    top: 195px;
    left: 25px;

    font-size: 20px;
    font-variant: small-caps;
    color: crimson;
}
.playerCard > h4{
    position: absolute;
    top: 200px;
    left: 115px;

    font-size: 15px;
    color: crimson;
}
.hidden{
    visibility: hidden;
}