p{
    color: #f65809;
    font-size: 22px;
}
body{
    background-image: url('../images/bg.jpg');
}
#characterPanel{
    background-color: blanchedalmond;

    position: absolute sticky;
    position: -webkit-sticky; /* Safari */
    
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;

    align-items: center;
    text-align: center;
}
#searchResults{
    position: absolute;
    left: 100px;
}
.hidden{
    visibility: hidden;
}